* {
    background-color: rgb(91, 187, 131);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
/* header  */
header {
    min-height: 250px;
    height: 45vh;
    text-align: center;
    padding: 10px;

}

header a {
    color: #fff;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 1px;
}

header a span {
    font-weight: 600;
    background-color: #fff;
    color: rgb(91, 187, 131);
    padding: 5px 10px;
    border-radius: 10px;
}

header div {
    width: 100vw;
    height: 250px;
    overflow: hidden;
    margin: 10px 0 0 -10px;
    padding: 0 0 -10px;
}

header div img{
    object-fit: scale-down;
    width: 100vw;
}

/* einde header */

/* main */

.wrapper {
    position: relative;
    text-align: center  ;
}

.wrapper section{
    width: 100vw;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.wrapper span{
    visibility: hidden;
}

.wrapper i{
    background-color: #fff;
    color: rgb(91, 187, 131);;
    padding: 50px;
    font-size: 4em; 
    border-radius: 20px;
    box-shadow: 4px 2px 9px 0px #0000007c;
}