/* -- Algemeen -- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 450px;
    width: 700px;
    margin: 200px auto;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;


}

ul {
    list-style-type: none;
}
/* CARD 1 */
.intro{
    display: flex;
    width: 300px;
    height: auto;
    margin: 100px 0 0 40px;
    text-align: start;
}


#intro-card ul li {
    margin-bottom: 10px;
}
#intro-card ul li:nth-child(2), #intro-card ul li:nth-child(3){
    margin-bottom: 5px;
}
.intro ul h1 {
    width: 400px;
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 0.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro-card {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 300px;
    box-shadow: 0px 10px 15px 5px #41414183;
}

#intro-card section:nth-child(1)  {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 50px;

}


#intro-card section:nth-child(1)  {
    margin-top: 60px;
}
.cards {
    display: none;
}

#intro-card section:nth-child(3){
    width: 50px;
}

#intro-card section:nth-child(3) a img{
  padding: 150px 75px;

}

#intro-card section:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: center;
    margin: 30px auto 30px;

}

.title  img {
    width: 35px;
    margin-left: 10px;

}

/* 2e CARD */
#info-card, #skills-card {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 300px;
    box-shadow: 0px 10px 15px 5px #41414183;
}

.info-intro{
    width: 600px;


}
#info-card section:nth-child(1) a img, #info-card section:nth-child(3) a img, #skills-card section:first-child a img {
    margin-top: 150px;
}

.info-intro p {
    width: 450px;
    margin: 0 auto;
    line-height: 20px;
}
.info-intro p:nth-child(2){
    margin-top: 20px;
}
.info-intro h2, .skills-info h2  {
    width: 270px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 5px;

}

/* 3e CARD */
.skills-info {
        width: 600px;
}

.skills-info ul {
    list-style-type: disc;
    width: 250px;
    margin: 0 auto;
}

.skills-info ul li {
    line-height: 30px;
}
.skills-info ul li a {
    text-decoration: none;
}

.skills-info p {
    font-size: 12px;
}


/* transition */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* footer */
footer {
    background-color: #75C3FA;
    height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
        box-shadow: 0px 10px 15px 5px #41414183;
}
footer ul {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
}
footer ul li {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    padding: 20px;



}
footer ul li:first-child img {
    height: 25px;
    margin: 5px 10px;
}
footer ul li img {
    height: 30px;
    margin: 5px 10px;
}
footer ul li a {
    margin-top: 10px;
    text-decoration: none;
    color: #000;

}